@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@{
    ViewData["Title"] = "Customers";
}

<a asp-controller="Home" asp-action="Index">Home</a>
<h1>Unorganized List</h1>
<p>@ViewBag.Customer01.FirstName @ViewBag.Customer01.LastName</p>
<p>@ViewBag.Customer01.Address</p>
<p>@ViewBag.Customer01.Zip</p><p>@ViewBag.Customer01.City</p>

<p>@ViewBag.Customer02.FirstName</p><p>@ViewBag.Customer02.LastName</p>
<p>@ViewBag.Customer02.Address</p>
<p>@ViewBag.Customer02.Zip</p><p>@ViewBag.Customer02.City</p>

<h1>Organized List</h1>
cevs =
@foreach (var customer in @ViewBag.CustomerList)
{
    <h2>@customer.FirstName @customer.LastName</h2>
    <p>@customer.Address</p>
    <p>@customer.Zip @customer.City</p>
    @string.Join(", ", customer.PhoneNumbers)
    <h2>@string.Join(", ", customer.PhoneNumbers)</h2>
    <h3 style="background-color: #f1f1f1">@customer.BirthDate.ToString("MM/dd/yyyy")</h3>
    <h3 style="background-color: #f1f1f1">@customer.Age</h3>

}
<h1>Phone Numbers List</h1>